* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.work {
  background-color: #ff8c66;
  background-image: url(../../images/icon-work.svg); }

.play {
  background-color: #56c2e6;
  background-image: url(../../images/icon-play.svg); }

.study {
  background-color: #ff5e7d;
  background-image: url(../../images/icon-study.svg); }

.exercise {
  background-color: #4acf81;
  background-image: url(../../images/icon-exercise.svg); }

.social {
  background-color: #7536d3;
  background-image: url(../../images/icon-social.svg); }

.self-care {
  background-color: #f1c65b;
  background-image: url(../../images/icon-self-care.svg); }

.container {
  width: calc(min(110rem, 85%));
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 59.375em) {
    .container {
      width: calc(min(80rem, 90%));
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      margin: 4rem 0; } }

.container-cards {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }
  @media only screen and (max-width: 59.375em) {
    .container-cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 31.25em) {
    .container-cards {
      grid-template-columns: 1fr; } }

.card {
  background-repeat: no-repeat;
  background-position: right 2rem top;
  background-size: 7rem;
  border-radius: 14px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 4.5rem; }
  .card__content {
    height: 100%;
    background-color: #1c1f4a;
    border-radius: 14px;
    padding: 3rem 2.5rem;
    cursor: pointer;
    transition: background-color 0.2s; }
    .card__content:hover {
      background-color: #34397b; }
  .card__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem; }
  .card__title {
    font-size: 1.7rem;
    font-weight: 500; }
  .card__current {
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 1.2rem; }
  .card__previous {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6); }

.dots {
  height: 0.5rem; }

.profile {
  background-color: #1c1f4a;
  border-radius: 14px;
  overflow: hidden; }
  .profile__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 3rem 8rem;
    background-color: #5847eb;
    border-radius: 14px;
    height: 70%; }
    @media only screen and (max-width: 59.375em) {
      .profile__info {
        height: auto;
        flex-direction: row;
        align-items: center;
        padding: 3rem; } }
  .profile__span, .profile__name {
    font-weight: 300; }
  .profile__span {
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 1rem; }
  .profile__name {
    font-size: 4rem;
    line-height: 1.1; }
    @media only screen and (max-width: 59.375em) {
      .profile__name {
        font-size: 3rem; } }
  .profile__avatar {
    display: block;
    height: 6rem;
    border-radius: 100%;
    border: 3px solid white;
    margin-bottom: 3.5rem; }
    @media only screen and (max-width: 59.375em) {
      .profile__avatar {
        margin-bottom: 0;
        margin-right: 3rem;
        height: 8rem; } }
  .profile__items {
    padding: 3rem;
    list-style: none; }
    @media only screen and (max-width: 59.375em) {
      .profile__items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; } }
  .profile__item:not(:last-child) {
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 59.375em) {
      .profile__item:not(:last-child) {
        margin-bottom: 0; } }
  .profile__link, .profile__link:link, .profile__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.4s; }
    .profile__link:hover, .profile__link:focus, .profile__link:link:hover, .profile__link:link:focus, .profile__link:visited:hover, .profile__link:visited:focus {
      color: white; }
