$color-blue: hsl(246, 80%, 60%);

$color-light-orange: hsl(15, 100%, 70%);
$color-soft-blue: hsl(195, 74%, 62%);
$color-light-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-soft-orange: hsl(43, 84%, 65%);

$color-black: hsl(226, 43%, 10%);
$color-dark-blue: hsl(235, 46%, 20%);
$color-regular-blue: hsl(235, 45%, 61%);
$color-pale-blue: hsl(236, 100%, 87%);
$color-red: #ff5e7d;

$font-weight: (
  light: 300,
  regular: 400,
  bold: 500,
);

$bp-1: 75em; //1200px
$bp-2: 59.375em; // 950px
$bp-3: 31.25em; //500px
