.container {
  width: calc(min(110rem, 85%));

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 3rem;

  @include mq($bp-2) {
    width: calc(min(80rem, 90%));
    grid-template-columns: 1fr;
    // grid-template-rows: min-content auto;
    grid-row-gap: 3rem;
    margin: 4rem 0;
  }

  @include mq($bp-3) {
    width: calc(min(45rem, 90%));
  }
}

.container-cards {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;

  @include mq($bp-2) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($bp-3) {
    grid-template-columns: 1fr;
  }
}
