.profile {
  background-color: $color-dark-blue;
  border-radius: 14px;
  overflow: hidden;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    padding: 3rem 3rem 8rem;
    background-color: $color-blue;
    border-radius: 14px;
    height: 70%;

    @include mq($bp-2) {
      height: auto;
      flex-direction: row;
      align-items: center;
      padding: 3rem;
    }
  }

  &__text-box {
    // display: flex;
    // flex-direction: column;
  }

  &__span,
  &__name {
    font-weight: getWeight(light);
  }

  &__span {
    display: inline-block;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  &__name {
    font-size: 4rem;
    line-height: 1.1;
    @include mq($bp-2) {
      font-size: 3rem;
    }
  }

  &__avatar {
    display: block;
    height: 6rem;
    border-radius: 100%;
    border: 3px solid white;
    margin-bottom: 3.5rem;

    @include mq($bp-2) {
      margin-bottom: 0;
      margin-right: 3rem;
      height: 8rem;
    }
  }

  // List setup

  &__items {
    padding: 3rem;
    list-style: none;

    @include mq($bp-2) {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

    // display: flex;
    // flex-direction: column;
  }

  &__item:not(:last-child) {
    margin-bottom: 1.5rem;
    @include mq($bp-2) {
      margin-bottom: 0;
    }
  }

  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-size: 1.6rem;
    color: rgba(white, 0.4);
    transition: all 0.4s;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
